* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url(hero-img.jpg)no-repeat ;
 background-size: cover;
 background-position: center;
}

.box {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;  
  backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 1rem;
    padding: 30px 40px;
}
.h1{
    font-size: 36px;
    text-align: center;
    color: white;
}
.input-box{
   width: 100%;
   height: 50px; 
   margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
     color: #fff;
     padding: 20px 45px 20px 20px ;
}
.input-box input::placeholder{
    color: #fff;
}
.forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;

}
.forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.forget a{
    color: #fff;
    text-decoration: none;
}
.forget a:hover{
    text-decoration: underline;
}

.button .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.box .details{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.details p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.details p a:hover{
    text-decoration: underline;
}
